.relative {
  position: relative; }

.static {
  position: static; }

.absolute {
  position: absolute; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both; }

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

p {
  margin: 0; }

.fr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/webfonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/webfonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/webfonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/webfonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }

@media (min-width: 768px) {
  .col-md-f20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 400; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    color: #000000; }

.up {
  text-transform: uppercase; }

.wrap {
  overflow: hidden;
  position: relative; }

.mt-240 {
  margin-top: 240px; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%; } }

.ele {
  position: relative; }

.t {
  font-size: 50px;
  font-weight: 600; }

@media (max-width: 1024px) {
  .t {
    font-size: 35px; } }

@media (max-width: 414px) {
  .t {
    font-size: 30px; } }

.u {
  text-transform: uppercase; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.over {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #0000005c;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 2; }

.o-lay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #00000052;
  display: none; }
  .o-lay.active {
    display: block; }

#side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 5;
  bottom: 0; }
  #side-menu .body {
    height: 100%; }
    #side-menu .body .c-menu {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      position: relative; }
      #side-menu .body .c-menu .fa {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-weight: 100; }
    #side-menu .body .list {
      width: 250px;
      padding-top: 8px;
      background: #ffffff;
      height: 100%; }
      #side-menu .body .list .logo {
        text-align: center;
        margin-bottom: 20px; }
        #side-menu .body .list .logo img {
          display: inline-block; }
      #side-menu .body .list ul li a {
        display: block;
        border-top: 0.1px solid #e7e7e7;
        border-bottom: 0.1px solid #e7e7e7;
        font-weight: 600;
        padding: 12px 0;
        padding-left: 50px; }
  #side-menu.active {
    right: 0; }

.header {
  position: relative; }
  .header .navigation {
    font-family: "Barlow", sans-serif;
    position: fixed;
    background-image: url("../../images/nau.jpg");
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0; }
    .header .navigation .body {
      padding: 10px 0;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .header .navigation .body .list {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .navigation .body .list li a {
          font-weight: 600;
          font-size: 18px;
          position: relative; }
          .header .navigation .body .list li a .icon {
            display: inline-block;
            margin-right: 10px; }
          .header .navigation .body .list li a:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            opacity: 0;
            height: 3px;
            background: #000000;
            -webkit-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out; }
          .header .navigation .body .list li a:hover {
            -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
            box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
            padding: 10px 0; }
            .header .navigation .body .list li a:hover:after {
              width: 100%;
              opacity: 1; }
        .header .navigation .body .list li:nth-child(1) a:after {
          display: none; }
        .header .navigation .body .list li:nth-child(1) a .logo-mobile {
          border-radius: 10px; }
        .header .navigation .body .list li:nth-child(9) a {
          display: inline-block;
          background: #a28700;
          color: #ffffff;
          padding: 3px 15px 5px 15px;
          font-style: italic;
          font-weight: 300; }
          .header .navigation .body .list li:nth-child(9) a:after {
            display: none; }
          .header .navigation .body .list li:nth-child(9) a span {
            font-size: 15px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .header .navigation .body .list li:nth-child(5) a:after {
          display: none; }
        .header .navigation .body .list li:nth-child(5) a img {
          border-radius: 10px; }
        .header .navigation .body .list li:nth-child(11) a:after {
          display: none; }
        .header .navigation .body .list li:nth-child(1) {
          display: none; }
        .header .navigation .body .list li:nth-child(11) {
          display: none; }
        .header .navigation .body .list li:last-child {
          display: none; }
          .header .navigation .body .list li:last-child a:hover {
            -webkit-box-shadow: none;
            box-shadow: none; }
            .header .navigation .body .list li:last-child a:hover:after {
              display: none; }
    .header .navigation.active {
      -webkit-box-shadow: 0 0 30px 0 rgba(24, 24, 24, 0.15);
      box-shadow: 0 0 30px 0 rgba(24, 24, 24, 0.15); }
    .header .navigation.about {
      position: relative; }
    .header .navigation.list {
      position: relative; }
    .header .navigation.h-detail {
      position: relative; }
    .header .navigation.legacy {
      position: relative; }
    .header .navigation.cultural {
      position: relative; }
    .header .navigation.contact {
      position: relative; }
  .header .slide .banner {
    position: relative; }
    .header .slide .banner .owl-nav {
      display: none; }
    .header .slide .banner .owl-dots {
      display: inline-block;
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .header .slide .banner .owl-dots .owl-dot {
        display: inline-block;
        margin: 0 8px; }
        .header .slide .banner .owl-dots .owl-dot span {
          width: 12px;
          height: 12px;
          display: inline-block;
          border: 1px solid #ffffff;
          border-radius: 50%; }
        .header .slide .banner .owl-dots .owl-dot.active span {
          background: #ffffff; }
  .header .banner {
    position: relative; }
    .header .banner img {
      width: 100%; }
    .header .banner h1 {
      color: #ffffff;
      z-index: 3;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

@media (max-width: 1366px) {
  .header .banner.tours h1 {
    font-size: 40px; } }

@media (max-width: 1024px) {
  .header .navigation {
    position: relative; }
    .header .navigation .body {
      padding: 10px 0; }
      .header .navigation .body .list li {
        display: none; }
        .header .navigation .body .list li:nth-child(1) {
          display: inline-block; }
        .header .navigation .body .list li:last-child {
          display: inline-block; }
  .header .banner.tours h1 {
    font-size: 35px; } }

@media (max-width: 768px) {
  .header .banner.tours h1 {
    font-size: 26px; } }

@media (max-width: 414px) {
  .header .banner img {
    height: 20vh; }
  .header .banner h1 {
    font-size: 30px; }
  .header .banner.tours h1 {
    font-size: 25px;
    right: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

#section1 {
  font-family: "Barlow", sans-serif;
  background-image: url("../../images/nau.jpg");
  color: #ffffff; }
  #section1 .body {
    margin: 100px 0 50px 0; }
    #section1 .body .slide .s-about {
      position: relative; }
      #section1 .body .slide .s-about .owl-nav {
        display: none; }
      #section1 .body .slide .s-about .owl-dots {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
        #section1 .body .slide .s-about .owl-dots .owl-dot {
          display: inline-block;
          margin: 0 8px; }
          #section1 .body .slide .s-about .owl-dots .owl-dot span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid #ffffff; }
          #section1 .body .slide .s-about .owl-dots .owl-dot.active span {
            background: #ffffff; }
    #section1 .body .desc {
      margin-bottom: 30px;
      padding-top: 50px; }
      #section1 .body .desc .title {
        margin-bottom: 30px; }
      #section1 .body .desc p {
        padding: 0 40px;
        text-align: center;
        line-height: 30px;
        font-size: 17px;
        margin-bottom: 50px; }
        #section1 .body .desc p:last-child {
          margin-bottom: 0;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 9;
          -webkit-box-orient: vertical; }

@media (max-width: 1366px) {
  #section1 .body .desc {
    padding-top: 0; }
    #section1 .body .desc .title {
      margin-bottom: 10px; }
    #section1 .body .desc p {
      margin-bottom: 20px;
      padding: 0 10px; }
      #section1 .body .desc p:last-child {
        margin-bottom: 0; } }

@media (max-width: 1024px) {
  #section1 .body .desc p:last-child {
    font-size: 14px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; } }

@media (max-width: 768px) {
  #section1 .body {
    padding-bottom: 0; }
    #section1 .body .slide {
      margin-bottom: 30px; }
    #section1 .body .desc {
      padding: 50px 0; } }

#section2 .body .title {
  margin-bottom: 60px; }

#section2 .body .items .item {
  background: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer; }
  #section2 .body .items .item .img {
    position: relative; }
    #section2 .body .items .item .img .over {
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    #section2 .body .items .item .img img {
      border-radius: 10px 10px 0 0; }
  #section2 .body .items .item .detail {
    padding: 20px; }
    #section2 .body .items .item .detail h4 {
      font-size: 22px;
      font-weight: 600;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    #section2 .body .items .item .detail p {
      font-size: 14px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-align: justify;
      color: grey;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      #section2 .body .items .item .detail p.cost {
        border-bottom: 1px solid #e7e7e7; }
        #section2 .body .items .item .detail p.cost .icon {
          color: #c19b76;
          margin-right: 8px; }
    #section2 .body .items .item .detail button {
      color: #c19b76;
      margin-bottom: 10px;
      background: none;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid #c19b76;
      width: 60%;
      padding: 8px 0; }
  #section2 .body .items .item:hover {
    -webkit-transform: translateY(-0.625em);
    -ms-transform: translateY(-0.625em);
    transform: translateY(-0.625em); }
    #section2 .body .items .item:hover .over {
      opacity: 1; }

#section2 .body .all-hotel {
  margin: 50px 0; }
  #section2 .body .all-hotel a {
    color: #c19b76;
    background: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #c19b76;
    padding: 10px 40px; }

#section3 {
  background-image: url("../../images/nau.jpg");
  font-family: "Barlow", sans-serif; }
  #section3 .body .title {
    margin-bottom: 60px; }
  #section3 .body .items .item {
    background: #ffffff;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    #section3 .body .items .item .img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
      overflow: hidden; }
      #section3 .body .items .item .img img {
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
    #section3 .body .items .item .desc {
      padding: 15px 15px 0 15px; }
      #section3 .body .items .item .desc h3 {
        font-size: 18px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
        #section3 .body .items .item .desc h3 a {
          font-weight: 800;
          color: #6f6f6f;
          -webkit-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
      #section3 .body .items .item .desc p {
        font-size: 14px;
        text-align: justify;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical; }
    #section3 .body .items .item:hover .img img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    #section3 .body .items .item:hover .desc h3 a {
      color: #000000; }
    #section3 .body .items .item:hover {
      -webkit-transform: translateY(-0.625em);
      -ms-transform: translateY(-0.625em);
      transform: translateY(-0.625em); }
  #section3 .body .all-tour {
    margin: 50px 0; }
    #section3 .body .all-tour a {
      color: #c19b76;
      background: #ffffff;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid #c19b76;
      padding: 10px 40px; }

@media (max-width: 1024px) {
  #section3 .body .items .item .img {
    height: 100%; }
    #section3 .body .items .item .img img {
      height: 100%; } }

@media (max-width: 768px) {
  #section3 .body .items .item .desc {
    padding-left: 0; } }

@media (max-width: 414px) {
  #section3 .body .items .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #section3 .body .items .item .img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      #section3 .body .items .item .img img {
        width: 100%;
        height: auto; }
    #section3 .body .items .item .desc {
      padding: 20px; } }

#section4 {
  font-family: "Barlow", sans-serif; }
  #section4 .body .title {
    margin-bottom: 60px; }
  #section4 .body .tabs {
    margin-bottom: 50px; }
    #section4 .body .tabs .nav {
      display: block;
      text-align: center;
      margin-bottom: 50px; }
      #section4 .body .tabs .nav .nav-item {
        display: inline-block; }
        #section4 .body .tabs .nav .nav-item .nav-link {
          font-size: 18px;
          font-weight: 500;
          display: block;
          padding: 5px 20px; }
          #section4 .body .tabs .nav .nav-item .nav-link.active {
            background: #bfa004;
            color: #ffffff; }
    #section4 .body .tabs .tab-content .items .smooth {
      display: block;
      margin-bottom: 30px;
      border: 1px solid #e7e7e7; }

@media (max-width: 414px) {
  #section4 .body .tabs .nav .nav-item {
    display: block; }
    #section4 .body .tabs .nav .nav-item .nav-link {
      font-size: 18px; } }

#tours .body .top {
  border-bottom: 1px solid #1976bc;
  margin-bottom: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #tours .body .top .cate span {
    display: inline-block;
    margin: 0 10px; }
    #tours .body .top .cate span:nth-child(1) {
      font-size: 18px;
      color: #1976bc;
      font-weight: 600; }
    #tours .body .top .cate span input {
      vertical-align: middle;
      background: transparent;
      margin-right: 5px;
      border-radius: 50%;
      width: 16px;
      height: 16px; }
    #tours .body .top .cate span label {
      font-size: 14px; }
  #tours .body .top .searc button {
    background: #1976bc;
    border: 0;
    color: #ffffff;
    font-weight: 600;
    width: 200px;
    padding: 15px 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    #tours .body .top .searc button:hover {
      opacity: .7; }

#tours .body .list .item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer; }
  #tours .body .list .item .img {
    position: relative; }
    #tours .body .list .item .img img {
      border-radius: 10px 10px 0 0; }
    #tours .body .list .item .img .over {
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
  #tours .body .list .item .detail {
    padding: 20px; }
    #tours .body .list .item .detail h4 {
      font-size: 22px;
      font-weight: 600; }
    #tours .body .list .item .detail p {
      font-size: 14px;
      text-align: justify;
      color: grey;
      border-bottom: 1px solid #e7e7e7;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      #tours .body .list .item .detail p:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 30px; }
      #tours .body .list .item .detail p .icon {
        display: inline-block;
        margin-right: 8px;
        color: #1976bc; }
  #tours .body .list .item:hover {
    -webkit-transform: translateY(-0.625em);
    -ms-transform: translateY(-0.625em);
    transform: translateY(-0.625em); }
    #tours .body .list .item:hover .img .over {
      opacity: 1; }

#tours .body .l-more {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 80px;
  margin: 30px 0; }
  #tours .body .l-more a {
    background: #1976bc;
    font-weight: 600;
    padding: 15px 50px;
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    #tours .body .l-more a:hover {
      opacity: .7; }

@media (max-width: 768px) {
  #tours .body .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #tours .body .top .cate {
      margin-bottom: 30px; }
    #tours .body .top .searc {
      text-align: center; } }

#list .body .title {
  font-size: 40px;
  margin: 40px 0; }

#list .body .cap {
  text-align: justify; }

#list .body .link {
  margin: 50px 0;
  text-align: center; }
  #list .body .link a {
    display: inline-block;
    font-size: 20px;
    margin: 0 8px;
    text-transform: uppercase; }
    #list .body .link a.active {
      border-bottom: 2px solid #c19b76; }

#list .body .items .item {
  margin-bottom: 50px; }
  #list .body .items .item .r {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #list .body .items .item .r .desc {
      padding-left: 25px; }
      #list .body .items .item .r .desc h4 {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 25px;
        letter-spacing: 2px;
        padding-left: 20px; }
      #list .body .items .item .r .desc p {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 30px;
        padding-left: 20px; }
        #list .body .items .item .r .desc p.n {
          color: #c19b76;
          letter-spacing: 4px;
          text-transform: uppercase;
          padding-left: 0; }
        #list .body .items .item .r .desc p.gr-btn {
          line-height: 16px;
          margin: 50px 0 0 0; }
          #list .body .items .item .r .desc p.gr-btn a {
            color: #c19b76;
            font-weight: 600; }
            #list .body .items .item .r .desc p.gr-btn a:first-child {
              margin-right: 10px; }
            #list .body .items .item .r .desc p.gr-btn a:last-child {
              border: 2px solid #c19b76;
              font-size: 13px;
              padding: 5px 20px; }

@media (max-width: 768px) {
  #list .body .items .item .r .img {
    margin-bottom: 30px; }
    #list .body .items .item .r .img img {
      width: 100%; }
  #list .body .items .item .r.r-or {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; } }

@media (max-width: 414px) {
  #list .body .items .item .r .desc h4 {
    margin-bottom: 15px; }
  #list .body .items .item .r .desc p.gr-btn {
    margin-top: 30px; } }

@media (max-width: 375px) {
  #list .body .title {
    font-size: 35px; } }

@media (max-width: 320px) {
  #list .body .title {
    font-size: 23px; }
  #list .body .cap {
    font-size: 15px; } }

#h-detail .body .txt {
  font-family: "EB Garamond", serif;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #c19b76;
  font-weight: 300;
  margin-top: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #h-detail .body .txt .l {
    text-align: center; }
    #h-detail .body .txt .l span {
      display: inline-block;
      margin: 0 30px 15px 0; }
      #h-detail .body .txt .l span:first-child {
        border-bottom: 1px solid #c19b76; }
  #h-detail .body .txt .r span {
    font-size: 45px; }

#h-detail .body .title {
  font-size: 35px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 15px; }

#h-detail .body .cap {
  font-size: 15px;
  color: grey; }
  #h-detail .body .cap .icon {
    display: inline-block;
    margin: 0 3px; }

#h-detail .body .detail .item {
  font-family: "EB Garamond", serif; }
  #h-detail .body .detail .item .slide {
    position: relative;
    margin-bottom: 50px; }
    #h-detail .body .detail .item .slide .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto; }
      #h-detail .body .detail .item .slide .swiper-container .swiper-slide {
        background-size: cover;
        background-position: center; }
      #h-detail .body .detail .item .slide .swiper-container.gallery-top {
        height: 80%;
        width: 100%; }
      #h-detail .body .detail .item .slide .swiper-container.gallery-thumbs {
        height: 20%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 0; }
        #h-detail .body .detail .item .slide .swiper-container.gallery-thumbs .swiper-slide {
          height: 100%;
          opacity: 0.4; }
        #h-detail .body .detail .item .slide .swiper-container.gallery-thumbs .swiper-slide-thumb-active {
          opacity: 1; }
  #h-detail .body .detail .item .s-desc {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 50px;
    margin-bottom: 50px; }
    #h-detail .body .detail .item .s-desc .item {
      text-align: center;
      margin-bottom: 30px; }
      #h-detail .body .detail .item .s-desc .item .img {
        display: inline-block;
        margin-bottom: 15px; }
        #h-detail .body .detail .item .s-desc .item .img img {
          width: 40px; }
      #h-detail .body .detail .item .s-desc .item p {
        color: #b5b5b5;
        font-size: 14px; }
  #h-detail .body .detail .item p {
    color: grey;
    font-size: 18px; }
  #h-detail .body .detail .item .ser {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px; }
  #h-detail .body .detail .item .serv {
    border-bottom: 1px solid #e7e7e7; }
    #h-detail .body .detail .item .serv .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px;
      font-size: 20px;
      color: grey; }
      #h-detail .body .detail .item .serv .item .img {
        display: inline-block;
        margin-right: 20px; }
        #h-detail .body .detail .item .serv .item .img img {
          width: 30px; }

#h-detail .body .detail .book {
  margin-bottom: 30px;
  background: #1c1c1d;
  color: #ffffff;
  font-weight: 300;
  padding: 50px 20px;
  text-align: justify; }
  #h-detail .body .detail .book p {
    margin-bottom: 30px; }
    #h-detail .body .detail .book p button {
      color: #ffffff;
      background: #c19b76;
      width: 200px;
      padding: 10px 0;
      margin: 0 auto;
      border: 0;
      font-size: 14px;
      font-weight: 600;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      #h-detail .body .detail .book p button:hover {
        opacity: .5; }
    #h-detail .body .detail .book p:nth-child(2) {
      text-align: center; }

#h-detail .body .detail h5 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300; }

#h-detail .body .detail .b-room .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  #h-detail .body .detail .b-room .item .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 111px;
    flex: 0 0 111px;
    overflow: hidden; }
    #h-detail .body .detail .b-room .item .img img {
      width: 100%; }
  #h-detail .body .detail .b-room .item .desc {
    padding-left: 15px; }
    #h-detail .body .detail .b-room .item .desc h6 {
      font-size: 16px;
      font-weight: 300; }
      #h-detail .body .detail .b-room .item .desc h6 a {
        font-weight: 600;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
    #h-detail .body .detail .b-room .item .desc p {
      font-size: 14px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    #h-detail .body .detail .b-room .item .desc button {
      margin-top: 10px;
      background: #c19b76;
      color: #ffffff;
      font-weight: 600;
      padding: 6px 0;
      border: 0;
      text-align: center;
      font-size: 10px;
      width: 90px; }

#h-detail .body .relat .title {
  font-size: 35px;
  font-weight: 400;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative; }
  #h-detail .body .relat .title:after {
    position: absolute;
    content: "";
    display: block;
    bottom: -5px;
    left: 0;
    width: 10%;
    height: 1px;
    background: grey; }

#h-detail .body .relat .item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer; }
  #h-detail .body .relat .item .img {
    position: relative; }
    #h-detail .body .relat .item .img img {
      border-radius: 10px 10px 0 0;
      width: 100%; }
    #h-detail .body .relat .item .img .over {
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
  #h-detail .body .relat .item .detail {
    padding: 20px; }
    #h-detail .body .relat .item .detail h4 {
      font-size: 22px;
      font-weight: 600; }
    #h-detail .body .relat .item .detail p {
      font-size: 14px;
      text-align: justify;
      color: grey;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      #h-detail .body .relat .item .detail p.cost {
        border-bottom: 1px solid #e7e7e7; }
      #h-detail .body .relat .item .detail p .icon {
        display: inline-block;
        margin-right: 8px;
        color: #e4ad29;
        vertical-align: middle; }
    #h-detail .body .relat .item .detail button {
      color: #c19b76;
      margin-bottom: 10px;
      background: none;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid #c19b76;
      width: 60%;
      padding: 8px 0; }
  #h-detail .body .relat .item:hover {
    -webkit-transform: translateY(-0.625em);
    -ms-transform: translateY(-0.625em);
    transform: translateY(-0.625em); }
    #h-detail .body .relat .item:hover .over {
      opacity: 1; }

@media (max-width: 768px) {
  #h-detail .body .txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

#contact .body .top {
  padding: 50px 0 100px 0; }
  #contact .body .top .item p {
    font-size: 18px; }
    #contact .body .top .item p small {
      font-size: 18px; }
  #contact .body .top .item h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px; }
  #contact .body .top .item .mapouter {
    margin-top: 120px;
    padding: 0 20px 0 0;
    margin-bottom: 50px; }
  #contact .body .top .item.r .head {
    margin-bottom: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #contact .body .top .item.r .head .h-item {
      padding: 0 20px;
      margin-bottom: 30px; }
      #contact .body .top .item.r .head .h-item .img {
        text-align: center;
        margin-bottom: 15px; }
        #contact .body .top .item.r .head .h-item .img img {
          display: inline-block; }
      #contact .body .top .item.r .head .h-item h4 {
        font-size: 18px;
        font-weight: 600; }
      #contact .body .top .item.r .head .h-item p {
        font-size: 14px;
        min-height: calc(16px * 2);
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
  #contact .body .top .item.r .form form p {
    margin-bottom: 10px; }
    #contact .body .top .item.r .form form p small {
      font-size: 15px; }
  #contact .body .top .item.r .form form input {
    width: 100%;
    height: 50px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15); }
    #contact .body .top .item.r .form form input:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #contact .body .top .item.r .form form textarea {
    border: 1px solid #e7e7e7;
    width: 100%;
    -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
    margin-bottom: 15px; }
  #contact .body .top .item.r .form form button {
    background-color: #1976bc;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 40px; }

#contact .newsletter {
  margin: 0 15px 150px 15px;
  background-image: url("../../images/newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 100px 20%;
  color: #ffffff; }
  #contact .newsletter h1 {
    font-size: 60px;
    margin-bottom: 50px; }
    #contact .newsletter h1 span {
      font-weight: 900;
      font-size: 70px; }
  #contact .newsletter p {
    width: 55%;
    font-size: 18px;
    line-height: 35px; }
    #contact .newsletter p small {
      font-size: 20px; }

@media (max-width: 1024px) {
  #contact .newsletter p {
    width: 80%; } }

@media (max-width: 768px) {
  #contact .newsletter {
    padding-left: 50px;
    margin-bottom: 50px; }
    #contact .newsletter p {
      width: 90%; }
  #contact .body .top .item .mapouter {
    margin-top: 50px; } }

@media (max-width: 414px) {
  #contact .newsletter {
    padding: 100px 15px 100px 15px; }
    #contact .newsletter h1 {
      font-size: 30px; }
    #contact .newsletter p {
      font-size: 16px;
      width: 100%; }
  #contact .body .top .item.r .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px; } }

#popup {
  position: fixed;
  top: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: .98;
  overflow-x: hidden;
  overflow-x: auto;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding-top: 100px;
  z-index: 20; }
  #popup .container {
    width: 800px;
    max-width: 100%; }
    #popup .container .body .c-popup {
      text-align: right; }
      #popup .container .body .c-popup a {
        display: inline-block;
        font-size: 50px;
        font-weight: 300;
        color: #70AE3C; }
    #popup .container .body h1 {
      font-size: 50px;
      font-weight: 700;
      color: #70AE3C;
      margin-bottom: 60px; }
    #popup .container .body .info {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 30px;
      margin-bottom: 80px; }
      #popup .container .body .info .item {
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #popup .container .body .info .item .img {
          display: inline-block;
          margin-right: 10px; }
        #popup .container .body .info .item .desc p strong {
          font-size: 20px; }
    #popup .container .body .nav {
      text-align: center;
      display: block;
      margin-bottom: 50px;
      border: 0; }
      #popup .container .body .nav .nav-item {
        display: inline-block;
        margin: 0 15px; }
        #popup .container .body .nav .nav-item .nav-link {
          display: block;
          font-size: 25px;
          font-weight: 600;
          border: 0; }
          #popup .container .body .nav .nav-item .nav-link.active {
            border-bottom: 2px solid #e7e7e7; }
    #popup .container .body .tab-content p {
      margin-bottom: 20px; }
      #popup .container .body .tab-content p small {
        font-size: 16px; }
    #popup .container .body .tab-content .b-form input {
      display: block;
      width: 100%;
      height: 70px;
      margin-bottom: 30px;
      -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
      box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
      border: 1px solid #e7e7e7;
      padding: 20px; }
      #popup .container .body .tab-content .b-form input.date {
        width: 49%;
        margin: 0; }
    #popup .container .body .tab-content .b-form .bottom {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #popup .container .body .tab-content .b-form .bottom select {
        height: 70px;
        width: 49%;
        border: 0;
        padding-left: 10px;
        -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
        box-shadow: 0 0 15px rgba(24, 24, 24, 0.15); }
        #popup .container .body .tab-content .b-form .bottom select option {
          font-size: 20px; }
    #popup .container .body .tab-content .b-form button {
      width: 200px;
      padding: 20px 0;
      border: 0;
      display: block;
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      background: #1976bc;
      margin: 50px auto 100px auto; }
  #popup.active {
    top: 0; }
  #popup.map .container .body img {
    width: 100%;
    height: 100%; }
  #popup.map.active {
    top: 0; }

@media (max-width: 414px) {
  #popup .container .body .tab-content .b-form .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #popup .container .body .tab-content .b-form .bottom select {
      width: 100%;
      margin-bottom: 20px; }
    #popup .container .body .tab-content .b-form .bottom input.date {
      width: 100%; }
  #popup .container .body h1 {
    font-size: 40px; } }

@media (max-width: 375px) {
  #popup .container .body .nav .nav-item .nav-link {
    font-size: 16px; }
  #popup .container .body .tab-content .b-form button {
    padding: 10px 0; }
  #popup .container .body .tab-content .b-form input::-webkit-input-placeholder {
    font-size: 13px; }
  #popup .container .body .tab-content .b-form input:-ms-input-placeholder {
    font-size: 13px; }
  #popup .container .body .tab-content .b-form input::-ms-input-placeholder {
    font-size: 13px; }
  #popup .container .body .tab-content .b-form input::placeholder {
    font-size: 13px; }
  #popup .container .body .tab-content p small {
    font-size: 14px; } }

#t-detail .body .title {
  font-family: "EB Garamond", serif;
  font-size: 60px;
  margin-bottom: 20px; }

#t-detail .body .cap {
  font-size: 20px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e7e7e7; }

#t-detail .body .nav {
  border: 0;
  margin-bottom: 60px;
  text-align: center;
  display: block; }
  #t-detail .body .nav .nav-link {
    font-size: 20px;
    border: 0;
    font-weight: 600;
    padding: 0;
    margin: 0 15px;
    display: inline-block;
    margin-bottom: 15px; }
    #t-detail .body .nav .nav-link.active {
      border-bottom: 2px solid #e7e7e7; }

#t-detail .body p {
  line-height: 30px;
  margin-bottom: 50px;
  font-family: "EB Garamond", serif;
  font-size: 18px; }
  #t-detail .body p.share {
    text-align: right;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 100px;
    margin: 100px 0 80px 0; }
    #t-detail .body p.share span {
      display: inline-block;
      margin-left: 10px; }

#t-detail .body h4 {
  font-size: 30px;
  font-weight: 700; }

#t-detail .body .book a {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  background: #c19b76;
  color: #ffffff;
  padding: 15px 50px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  #t-detail .body .book a:hover {
    opacity: .7; }

#t-detail .body .tab-pane#nav-gallery .img {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer; }
  #t-detail .body .tab-pane#nav-gallery .img img {
    width: 100%; }
  #t-detail .body .tab-pane#nav-gallery .img .over {
    opacity: 0; }
  #t-detail .body .tab-pane#nav-gallery .img:hover .over {
    opacity: 1; }

#t-detail .body .tab-pane#nav-tour .item {
  margin-bottom: 30px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.15); }
  #t-detail .body .tab-pane#nav-tour .item .img {
    position: relative; }
    #t-detail .body .tab-pane#nav-tour .item .img img {
      border-radius: 10px 10px 0 0;
      width: 100%; }
    #t-detail .body .tab-pane#nav-tour .item .img .over {
      opacity: 0; }
  #t-detail .body .tab-pane#nav-tour .item .detail {
    padding: 20px; }
    #t-detail .body .tab-pane#nav-tour .item .detail h4 {
      font-size: 22px;
      font-weight: 600; }
    #t-detail .body .tab-pane#nav-tour .item .detail p {
      font-size: 14px;
      text-align: justify;
      color: grey;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      #t-detail .body .tab-pane#nav-tour .item .detail p.cost {
        border-bottom: 1px solid #e7e7e7; }
      #t-detail .body .tab-pane#nav-tour .item .detail p .icon {
        display: inline-block;
        margin-right: 8px;
        color: #e4ad29; }
    #t-detail .body .tab-pane#nav-tour .item .detail button {
      color: #c19b76;
      margin-bottom: 10px;
      background: none;
      font-size: 14px;
      font-weight: 600;
      border: 2px solid #c19b76;
      width: 60%;
      padding: 8px 0; }
  #t-detail .body .tab-pane#nav-tour .item:hover {
    -webkit-transform: translateY(-0.625em);
    -ms-transform: translateY(-0.625em);
    transform: translateY(-0.625em); }
    #t-detail .body .tab-pane#nav-tour .item:hover .img .over {
      opacity: 1; }

@media (max-width: 1024px) {
  #t-detail .body .title {
    font-size: 40px; }
  #t-detail .body .cap {
    width: 100%; } }

@media (max-width: 320px) {
  #t-detail .body .title {
    font-size: 30px; }
  #t-detail .body .cap {
    font-size: 18px; } }

#about .body .title {
  font-size: 40px;
  color: #bfa004;
  font-weight: 500;
  margin-bottom: 50px; }

#about .body .items {
  margin: 30px 0; }
  #about .body .items .img {
    margin-bottom: 30px; }

#about .body h4 {
  margin-bottom: 20px; }

#about .body p {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 25px; }
  #about .body p.quotes {
    color: #bfa004;
    font-size: 30px;
    margin: 50px 0;
    font-family: "Dancing Script", cursive; }
  #about .body p.share {
    margin-top: 80px;
    text-align: right;
    font-size: 14px; }
    #about .body p.share span {
      display: inline-block;
      margin: 0 5px; }
      #about .body p.share span .fa {
        font-size: 18px; }

#about .body .parent {
  margin-bottom: 50px;
  position: relative; }
  #about .body .parent img {
    position: absolute; }
  #about .body .parent svg {
    position: absolute;
    opacity: 0;
    width: 100%; }
  #about .body .parent .resp_17 {
    position: absolute;
    font-size: 18px;
    background: #d4d4d4;
    width: 100px;
    text-align: center;
    display: none;
    padding: 8px 0; }

#about .body .list p {
  margin-bottom: 16px; }

#about .body h5 {
  margin: 30px 0 15px 0; }

@media (max-width: 375px) {
  #about .body .title {
    font-size: 30px; } }

@media (max-width: 320px) {
  .header .banner h1 {
    font-size: 25px; } }

#c-detail .body {
  font-family: "EB Garamond", serif;
  font-size: 18px; }
  #c-detail .body h1 {
    font-weight: 600; }
  #c-detail .body .img {
    margin-bottom: 10px; }

@media (max-width: 414px) {
  #c-detail .body h1 {
    font-size: 30px;
    text-align: justify; } }

#l-detail .body {
  font-family: "EB Garamond", serif;
  font-size: 18px; }
  #l-detail .body h1 {
    font-weight: 600; }
  #l-detail .body .img {
    margin-bottom: 10px; }

@media (max-width: 414px) {
  #l-detail .body h1 {
    font-size: 30px;
    text-align: justify; } }

#section6 {
  font-family: "Barlow", sans-serif;
  background-image: url("../../images/num.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover; }
  #section6 .body {
    position: relative; }
    #section6 .body .items .item {
      text-align: center; }
      #section6 .body .items .item .img {
        text-align: center;
        margin-top: 20px; }
        #section6 .body .items .item .img img {
          display: inline-block; }
      #section6 .body .items .item p {
        font-size: 30px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 2px; }
        #section6 .body .items .item p.num {
          font-size: 50px;
          border-bottom: 2px solid #e7e7e7;
          padding-bottom: 20px; }

#section7 {
  background-image: url("../../images/nau.jpg"); }
  #section7 .body .item {
    margin-bottom: 50px; }
    #section7 .body .item h2 {
      font-size: 20px;
      margin-bottom: 20px; }
    #section7 .body .item p {
      font-size: 15px;
      margin-bottom: 20px; }

.footer {
  background: #d9d9d9;
  padding: 10px 0; }
  .footer a {
    font-weight: 700; }
