#about .body .parent svg{
	position: relative;
}
/*.parent_mobile{
	position: relative;
	transform: rotate(90deg);
}
.parent_mobile img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.parent_mobile svg{
	position: relative;
	width: 100%;
}
.parent_mobile .resp{
	position: absolute;
}
#popup{
	overflow-x: visible;
	overflow-x: visible;
	padding: 0;
}*/