#about{
	.body{
		.title{
			font-size: 40px;
			color:$c10;
			font-weight: 500;
			margin-bottom: 50px;
		}
		.items{
			margin:30px 0;
			.img{
				margin-bottom: 30px;
			}
		}

		h4{
			margin-bottom: 20px;
		}
		p{
			font-size: 15px;
			margin-bottom: 30px;
			line-height: 25px;
			&.quotes{
				color:$c10;
				font-size: 30px;
				margin:50px 0;
				font-family: $f2;
			}
			&.share{
				margin-top: 80px;
				text-align: right;
				font-size: 14px;
				span{
					display: inline-block;
					margin:0 5px;
					.fa{
						font-size: 18px;
					}
				}
			}
		}
		.parent{
			margin-bottom: 50px;
			position:relative;
			img{
				position:absolute;
			}
			svg{
				position:absolute;
				opacity: 0;
				width:100%;
				// .ele_17:hover{
				// 	.resp_17{
				// 		display: inline-block;
				// 	}
				// }

			}
			.resp_17{
					position:absolute;
					font-size: 18px;
					background:$c19;
					// top: 0;
					// right: 0;
					width:100px;
					text-align: center;
					display: none;
					padding:8px 0;
				}
		}
		
		.list{
			p{
				margin-bottom: 16px;
			}
		}
		h5{
			margin:30px 0 15px 0;
		}
	}
}
@media (max-width: 375px) {
	#about{
		.body{
			.title{
				font-size: 30px;
			}
		}
	}
}
@media (max-width: 320px) {
	.header{
		.banner{
			h1{
				font-size: 25px;
			}
		}
	}
}