#contact{
	.body{
		.top{
			padding:50px 0 100px 0;
			.item{
				p{
					font-size: 18px;
					small{
						font-size: 18px;
					}
				}
				h2{
					font-weight: 600;
					font-size: 40px;
					margin-bottom: 15px;
				}
				.mapouter{
					margin-top: 120px;
					padding:0 20px 0 0;
					margin-bottom: 50px;
				}
				&.r{
					.head{
						margin-bottom: 80px;
						
						align-items: center;
						justify-content: space-between;
						.h-item{
							padding:0 20px;
							margin-bottom:30px;
							.img{
								text-align: center;
								margin-bottom: 15px;
								img{
									display: inline-block;
								}
							}
							h4{
								font-size: 18px;
								font-weight:600;
							}
							p{
								font-size: 14px;
								min-height: calc(16px * 2);
								@include setLine(2);
							}
						}
					}
					.form{
						form{
							p{
								margin-bottom: 10px;
								small{
									font-size: 15px;
								}
							}
							input{
								width: 100%;
								height:50px;
								border:1px solid $c13;
								box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
								&:focus{
									
									outline: 0;
									box-shadow: none;
								}
							}
							textarea{
								border:1px solid $c13;
								width:100%;
								box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
								margin-bottom: 15px;
							}
							button{
								background-color: $c11;
								border: 0;
								outline: 0;
								color:$c3;
								font-size: 14px;
								font-weight:600;
								padding:15px 40px;
							}
						}
					}
				}
			}
		}

	}
	.newsletter{
		margin:0 15px 150px 15px;
		background-image: url("../../images/newsletter.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding:100px 0 100px 20%;
		color:$c3;
		h1{
			font-size: 60px;
			margin-bottom: 50px;
			span{
				font-weight:900;
				font-size: 70px;
			}
		}
		p{
			width:55%;
			font-size: 18px;
			line-height: 35px;
			small{
				font-size: 20px;
			}
		}
	}
}
@media (max-width: 1024px) {
	#contact{
		.newsletter{
			p{
				width:80%;
			}
		}
	}
}
@media (max-width: 768px) {
	#contact{
		.newsletter{
			padding-left:50px;
			margin-bottom: 50px;
			p{
				width:90%;
			}
		}
		.body{
			.top{
				.item{
					.mapouter{
						margin-top:50px;
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	#contact{
		.newsletter{
			padding:100px 15px 100px 15px;
			h1{
				font-size: 30px;
			}
			p{
				font-size: 16px;
				width:100%;
			}
		}
		.body {
			.top{
				.item{
					&.r{
						.head{
							flex-direction: column;
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}