* {
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
	font-size: 16px;
	font-family:$f4;
	font-weight:400;
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
a{
	text-decoration:none;
	color: $c2;
	&:hover{
		text-decoration:none;
		color: $c2;
	}
}
.up{
	text-transform: uppercase;
}
.wrap{
	overflow: hidden;
	position:relative;
}
.mt-240{
	margin-top: 240px;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
@media (min-width: 1200px) {
	.container{
		width:1200px;
		max-width:100%;
	}
}
.ele{
	position:relative;
}
.t{
	font-size: 50px;
	font-weight: 600;
}
@media (max-width: 1024px) {	
	.t{
		font-size: 35px;
	}
}
@media (max-width: 414px) {
	.t{
		font-size: 30px;
	}
}
.u{
	text-transform: uppercase;
}
.pt-50{
	padding-top: 50px;
}
.pb-50{
	padding-bottom:50px;
}
.over{
	position:absolute;
	width:100%;
	top: 0;
	left: 0;
	bottom:0;
	background:#0000005c;
	transition: all .4s ease-in-out;
	z-index:2;
}
.o-lay{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width:100%;
	height:100%;
	z-index:4;
	background-color: $c20;
	display: none;
	&.active{
		display: block;
	}
}

