.header{
	position:relative;
	
	.navigation{
		font-family: $f4;
		position:fixed;
		background-image:url("../../images/nau.jpg");
		width:100%;
		z-index: 2;
		top: 0;
		left: 0;

		.body{
			padding:10px 0;
			transition: all .4s ease-in-out;
			.list{
				justify-content: space-between;
				align-items: center;
				li{

					a{
						font-weight:600;
						font-size: 18px;
						position:relative;
						
						.icon{
							display: inline-block;
							margin-right: 10px;
						}
						&:after{
							content:"";
							display: block;
							position:absolute;
							bottom:-5px;
							left: 0;
							width:0;
							opacity: 0;
							height:3px;
							background:$c2;
							transition: all .4s ease-in-out;
						}
						&:hover{
							box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
							padding:10px 0;
							
							&:after{
								width:100%;
								opacity: 1;
							}
						}
					}
					&:nth-child(1){
						a{
							&:after{
								display: none;
							}
							.logo-mobile{
								border-radius:10px;
							}
						}
					}
					&:nth-child(9){
						a{
							display: inline-block;
							background:$c9;
							color:$c3;
							padding:3px 15px 5px 15px;							
							font-style: italic;
							font-weight:300;
							&:after{
								display: none;
							}
							span{
								font-size: 15px;
								top: 50%;
								left:50%;
								transform: translate(-50%,-50%);
							}
						}
					}
					&:nth-child(5){
						a{
							&:after{
								display: none;
							}
							img{
								border-radius: 10px;
							}
						}
					}
					&:nth-child(11){
						a{
							&:after{
								display: none;
							}
						}
					}
					&:nth-child(1){
						display: none;
					}
					&:nth-child(11){
						display: none;
					}
					&:last-child{
						display: none;						
						a{
							&:hover{
								box-shadow:none;
								&:after{
									display: none;
								}
							}
							
						}
					}
				}
			}
		}
		&.active{
			box-shadow:0 0 30px 0 rgba(24,24,24,.15);
		}
		&.about{
			position:relative;
		}
		&.list{
			position:relative;
		}
		&.h-detail{
			position:relative;
		}
		&.legacy{
			position:relative;
		}
		&.cultural{
			position:relative;
		}
		&.contact{
			position:relative;
		}
	}
	.slide{
		.banner{
			position:relative;
			.item{

			}
			.owl-nav{
				display: none;
			}
			.owl-dots{
				display: inline-block;
				position:absolute;
				bottom:10px;
				left: 50%;
				transform: translateX(-50%);
				.owl-dot{
					display: inline-block;
					margin:0 8px;
					span{
						width:12px;
						height:12px;
						display: inline-block;
						border:1px solid $c3;
						border-radius:50%;
					}
					&.active{
						span{
							background:$c3;
						}
					}
				}
			}
		}
	}
	.banner{
		position:relative;
		img{
			width: 100%;
		}
		h1{
			color:$c3;
			z-index:3;
			position:absolute;
			text-align:center;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
@media (max-width: 1366px) {
	.header{
		.banner{
			&.tours{
				h1{
					font-size: 40px;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.header{
		.navigation{
			position:relative;
			.body{
				padding:10px 0;
				.list{
					li{
						display: none;
						&:nth-child(1){
							display: inline-block;
						}
						// &:nth-child(10){
						// 	display: none;
						// }
						&:last-child{
							display: inline-block;
						}

					}
				}
			}
		}
		.banner{
			&.tours{
				h1{
					font-size: 35px;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.header{
		.banner{
			&.tours{
				h1{
					font-size: 26px;
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.header{
		.banner{
			img{
				height:20vh;
			}
			h1{
				font-size: 30px;
			}
			&.tours{
				h1{
					font-size: 25px;
					right: 0;
					left: 0;
					transform: translate(0,0);
				}
			}
		}
	}

}
