#h-detail{
	.body{
		.txt{
			font-family: $f3;
			justify-content: space-between;
			color:$c15;
			font-weight:300;
			margin-top:50px;
			align-items:center;
			.l{
				text-align: center;
				span{
					display: inline-block;
					margin:0 30px 15px 0;
					
					&:first-child{
						
						border-bottom:1px solid $c15;
					}
				}
			}
			.r{
				span{
					font-size: 45px;
				}
			}
		}
		.title{
			font-size: 35px;
			font-weight: 400;
			margin-top: 50px;
			margin-bottom: 15px;
		}
		.cap{
			font-size: 15px;
			color:$c12;
			.icon{
				display: inline-block;
				margin:0 3px;
			}
		}
		.detail{
			.item{
				font-family:$f3;
				.slide{
					position: relative;
					margin-bottom: 50px;
					.swiper-container {
				      width: 100%;
				      height: 300px;
				      margin-left: auto;
				      margin-right: auto;
				      .swiper-slide {
					      background-size: cover;
					      background-position: center;
					    }
					    &.gallery-top {
					      height: 80%;
					      width: 100%;
					    }
					    &.gallery-thumbs {
					      height: 20%;
					      box-sizing: border-box;
					      padding: 10px 0;
					      .swiper-slide{
					      	height: 100%;
      						opacity: 0.4;
					      }
					      .swiper-slide-thumb-active {
						      opacity: 1;
						    }
					    }
				    }
				}
				.s-desc{
					border-bottom:1px solid $c13;
					padding-bottom: 50px;
					margin-bottom: 50px;
					.item{
						text-align:center;
						margin-bottom: 30px;
						.img{
							display: inline-block;
							margin-bottom: 15px;
							img{
								width:40px;
							}
						}
						p{
							color:$c16;
							font-size: 14px;
						}
					}
				}
				p{
					color:$c12;
					font-size: 18px;
				}
				.ser{
					font-size: 25px;
					font-weight:400;
					margin-bottom: 30px;
				}
				.serv{
					border-bottom:1px solid $c13;
					.item{
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-bottom: 30px;
						font-size: 20px;
						color:$c12;
						.img{
							display: inline-block;
							margin-right:20px;
							img{
								width:30px;
							}
						}
					}
				}
			}
			.book{
				margin-bottom: 30px;
				background:$c17;
				color:$c3;
				font-weight:300;
				padding:50px 20px;
				text-align: justify;
				p{
					margin-bottom: 30px;
					button{
						color:$c3;
						background:$c15;
						width:200px;
						padding:10px 0;
						margin:0 auto;
						border:0;
						font-size: 14px;
						font-weight:600;
						transition: all .4s ease-in-out;
						&:hover{
							opacity: .5;
						}
					}
					&:nth-child(2){
						text-align: center;
					}
				}

			}
			h5{
				font-size: 20px;
				margin-bottom: 30px;
				font-weight:300;
			}
			.b-room{
				.item{
					margin-bottom: 15px;
					display: flex;
					flex-direction:row;
					// align-items:center;
					.img{
						flex:0 0 111px;
						overflow:hidden;
						img{
							width:100%;
							// height:100%;
						}
					}
					.desc{
						padding-left:15px;
						h6{
							font-size: 16px;
							font-weight:300;
							a{
								font-weight:600;
								@include setLine(1);
							}
						}
						p{
							font-size: 14px;
							@include setLine(2);
						}
						button{
							margin-top: 10px;
						    background: $c15;
						    color: $c3;
						    font-weight: 600;
						    padding: 6px 0;
						    border:0;
						    text-align:center;
						    font-size: 10px;
						    width:90px;
						}
					}
				}
			}
		}
		.relat {
			.title{
				font-size: 35px;
			    font-weight: 400;
			    display: inline-block;
			    margin-top: 50px;
			    margin-bottom: 50px;
			    position:relative;
			    &:after{
			    	position:absolute;
			    	content:"";
			    	display: block;
			    	bottom:-5px;
			    	left: 0;
			    	width:10%;
			    	height:1px;
			    	background:$c12;
			    }
			}
			.item{
				margin-bottom: 30px;
			    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
			    transition: all .4s ease-in-out;
			    cursor: pointer;
			    .img{
			    	position:relative;
			    	img{
			    		border-radius: 10px 10px 0 0;
			    		width:100%;
			    	}
			    	.over{
			    		opacity: 0;
			    		transition: all .4s ease-in-out;
			    	}
			    }
			    .detail{
					padding: 20px;
					h4{
						font-size: 22px;
    					font-weight: 600;
					}
					p{
						font-size: 14px;
					    text-align: justify;
					    color: grey;
					    margin-bottom: 15px;
					    padding-bottom: 15px;
						&.cost{
							border-bottom: 1px solid #e7e7e7;
						}
						.icon{
							display: inline-block;
						    margin-right: 8px;
						    color: #e4ad29;
						    vertical-align: middle;
						}
					}
					button{
						color: #c19b76;
					    margin-bottom: 10px;
					    background: none;
					    font-size: 14px;
					    font-weight: 600;
					    border: 2px solid #c19b76;
					    width: 60%;
					    padding: 8px 0;
					}
			    }
			    &:hover{
			    	transform: translateY(-0.625em);
			    	.over{
			    		opacity: 1;
			    	}
			    }
			}
		}
	}
}
@media (max-width: 768px) {
	#h-detail{
		.body{
			.txt{
				flex-direction: column;
			}
			.detail{
				.b-room{
					.item{
					
						.desc{
							p{

							}
						}
					}
				}
			}
		}
	}
}