#l-detail{
	.body{
		font-family: $f3;
		font-size: 18px;
		h1{
			font-weight: 600;
		}
		.img{
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 414px) {
	#l-detail{
		.body{
			h1{
				font-size: 30px;
				text-align: justify;
			}
		}
	}
}