#list{
	.body{
		.title {
			font-size: 40px;
			margin:40px 0;
		}
		.cap{
			text-align: justify;
		}
		.link{
			margin:50px 0;
			text-align: center;
			a{
				display: inline-block;
				font-size: 20px;
				margin: 0 8px;
				text-transform: uppercase;
				&.active{
					border-bottom:2px solid $c15;
				}
			}
		}
		.items{
			.item{
				margin-bottom: 50px;
				.r{
					align-items: center;
					.img{}
					.desc{
						padding-left: 25px;
						h4{
							text-transform: uppercase;
							margin-bottom: 30px;
							font-size: 25px;
							letter-spacing: 2px;
							padding-left: 20px;
						}
						p{							
							
							font-size: 14px;
							margin-bottom: 20px;
							line-height: 30px;
							padding-left: 20px;
							&.n{
								color:$c15;
								letter-spacing:4px;
								text-transform: uppercase;
								padding-left:0;
								
							}
							&.gr-btn{
								line-height: 16px;
								margin:50px 0 0 0;

								a{
									color:$c15;
									font-weight: 600;
									&:first-child{
										margin-right: 10px;
									}
									&:last-child{
										border:2px solid $c15;
										font-size: 13px;
										padding:5px 20px;

									}
								}

							}

						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#list{
		.body{
			.items{
				.item{
					.r{
						.img{
							margin-bottom: 30px;
							img{
								width:100%;
							}
						}
						&.r-or{
							flex-wrap: wrap-reverse;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	#list{
		.body{
			.items{
				.item{
					.r{
						.desc{
							h4{
								margin-bottom: 15px;
							}
							p{
								&.gr-btn{
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 375px) {
	#list{
		.body{
			.title{
				font-size: 35px;
			}
		}
	}
}
@media (max-width: 320px) {
	#list{
		.body{
			.title{
				font-size: 23px;
			}
			.cap{
				font-size: 15px;
			}
		}
	}
}