#popup{
	position: fixed;
	top: -100%;
	bottom: 0;
	width:100%;
	height: 100%;
	background:$c3;
	opacity: .98;
	overflow-x:hidden;
	overflow-x:auto;
	transition: all .4s ease-in-out;
	padding-top:100px;
	z-index: 20;
	.container{
		width: 800px;
		max-width: 100%;
		.body{
			
			.c-popup{
				text-align: right;
				a{
					display: inline-block;
					font-size: 50px;
					font-weight: 300;
					color:$c18;
				}
			}
			h1{
				font-size: 50px;
				font-weight:700;
				color:$c18;
				margin-bottom: 60px;
			}
			.info{
				border-bottom:1px solid $c13;
				padding-bottom: 30px;
				margin-bottom: 80px;
				.item{
					margin-bottom: 30px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					.img{
						display: inline-block;
						margin-right: 10px;
					}
					.desc{
						p{
							
							strong{
								font-size: 20px;
							}
						}
					}
				}
			}
			.nav {
				text-align: center;
				display: block;
				margin-bottom: 50px;
				border:0;
				.nav-item{
					display: inline-block;
					margin: 0 15px;
					.nav-link{
						display: block;
						font-size: 25px;
						font-weight:600;
						border:0;
						&.active{
							border-bottom:2px solid $c13;
						}
					}
				}
			}
			.tab-content{
				p{
					margin-bottom: 20px;

					small{
						font-size: 16px;
						
					}
				}
				.b-form{
					input{
						display: block;
						width:100%;
						height:70px;
						margin-bottom: 30px;
						box-shadow:0 0 15px rgba(24,24,24,.15);
						border:1px solid $c13;
						padding:20px;
						&.date{
							width:49%;
							margin:0;
						}
					}
					
					.bottom{
						align-items:center;
						justify-content: space-between;
						select{
							height:70px;
							width:49%;
							border:0;
							// margin-top: 20px;
							padding-left: 10px;
							box-shadow:0 0 15px rgba(24,24,24,.15);
							option{
								font-size: 20px;
							}
						}
					}
					button{
						width:200px;
						padding:20px 0;
						border:0;
						display: block;
						color:$c3;
						font-size: 20px;
						font-weight:600;
						background:$c11;
						margin:50px auto 100px auto;

					}
				}
			}
			
		}
	}
	&.active{
		top: 0;
	}
	&.map{
		.container{
			.body{
				img{
					width:100%;
					height:100%;
				}
			}
		}
		&.active{
			top: 0;
		}
	}
}
@media (max-width: 414px) {
	#popup{
		.container{
			.body{
				.tab-content{
					.b-form{
						.bottom{
							flex-direction:column;
							select{
								width:100%;
								margin-bottom: 20px;
							}
							input{
								&.date{
									width:100%;
								}
							}
						}
					}
				}
				h1{
					font-size: 40px;
				}
			}
		}
	}
}
@media (max-width: 375px) {
	#popup{
		.container{
			.body{
				.nav{
					.nav-item{
						.nav-link{
							font-size: 16px;
						}
					}
				}
				.tab-content{
					.b-form{
						button{
							padding: 10px 0;
						}
						input::placeholder{
							font-size: 13px;
						}
					}
					p{
						small{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}