#section3{
	background-image:url("../../images/nau.jpg");
	font-family: $f4;
	.body{
		.title{
			margin-bottom: 60px;
		}
		.items{
			.item{
				background:$c3;
				margin-bottom: 30px;
				cursor: pointer;
				box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
				transition: all .4s ease-in-out;
				.img{
					flex:0 0 40%;
					max-width:40%;
					overflow: hidden;
					img{
						transition: all .4s ease-in-out;
					}

				}
				.desc{
					padding:15px 15px 0 15px;
					h3{
						font-size: 18px;
						@include setLine(1);
						a{
							font-weight: 800;
							color:$c7;
							transition: all .4s ease-in-out;
						}
					}
					p{
						font-size: 14px;
						text-align: justify;
						@include setLine(6);
					}
				}
				&:hover{
					.img{
						img{
							transform: scale(1.1);
							
						}
					}
					.desc{
						h3{
							a{
								color:$c2;
							}
						}
					}
				}
				&:hover{
					transform: translateY(-0.625em);
				}
			}

		}
		.all-tour{
			margin:50px 0;
			a{
				color: $c15;
			    
			    background: $c3;
			    font-size: 14px;
			    font-weight: 600;
			    border: 2px solid $c15;
			    padding: 10px 40px;
			}
		}
	}
}
@media (max-width: 1024px) {
	#section3{
		.body{
			.items{
				.item{
					.img{
						height:100%;
						img{
							height:100%;
						}
					}
					
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#section3{
		.body{
			.items{
				.item{
					.desc{
						padding-left:0;
					}
					
				}
			}
		}
	}
}
@media (max-width: 414px) {
	#section3{
		.body{
			.items{
				.item{
					flex-direction:column;
					.img{
						flex:0 0 100%;
						max-width:100%;
						img{
							width:100%;
							height:auto;
						}
					}
					.desc{
						padding:20px;
					}
				}
			}
		}
	}
}