#section1{
	font-family:$f4;
	background-image:url("../../images/nau.jpg");
	color:$c3;
	.body{
		// background:$c6;
		margin:100px 0 50px 0;
			.slide{
				// margin-bottom: 30px;
				.s-about{
					position:relative;
					.owl-nav{
						display: none;
					}
					.owl-dots{
						display: block;
						text-align: center;
						position:absolute;
						bottom:10px;
						left: 50%;
						transform: translateX(-50%);
						.owl-dot{
							display: inline-block;
							margin:0 8px;
							span{
								display: inline-block;
								width:12px;
								height:12px;
								border-radius:50%;
								border:1px solid $c3;
							}
							&.active{
								span{
									background:$c3;
								}
							}
						}
					}
				}
			}
			.desc{
				margin-bottom: 30px;
				padding-top:50px;
				.title{
					margin-bottom: 30px;
				}
				p{
					padding:0 40px;
					text-align: center;
					line-height: 30px;
					font-size: 17px;
					margin-bottom: 50px;
					&:last-child{
						margin-bottom: 0;
						@include setLine(9);
					}
				}

			}
	}
}
@media (max-width: 1366px) {
	#section1{
		.body{
			.desc{
				padding-top:0;
				.title{
					margin-bottom: 10px;
				}
				p{
					margin-bottom: 20px;
					padding:0 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	#section1{
		.body{
			.desc{
				p{
					&:last-child{
						font-size: 14px;
						@include setLine(6);
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#section1{
		.body{
			padding-bottom:0;
			.slide{
				margin-bottom: 30px;
			}
			.desc{
				padding:50px 0;
			}
		}
	}
}
