#section2{
	// background-image:url('../../images/nau.jpg');
	.body{
		.title{
			margin-bottom: 60px;
		}
		.items{
			.item{
				background:$c3;
				margin-bottom: 30px;
			    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
			    transition: all .4s ease-in-out;
			    cursor: pointer;
			    .img{
			    	position: relative;
			    	.over{
			    		opacity: 0;
    					transition: all .4s ease-in-out;
			    	}
			    	img{
			    		border-radius: 10px 10px 0 0;
			    	}
				}
				.detail{
					padding: 20px;
					h4{
						font-size: 22px;
    					font-weight: 600;
    					@include setLine(2);
					}
					p{
						font-size: 14px;
						@include setLine(4);
					    text-align: justify;
					    color: grey;
					    margin-bottom: 15px;
					    padding-bottom: 15px;
					    &.cost{
					    	border-bottom: 1px solid $c13;
					    	.icon{
					    		color:$c15;
					    		margin-right: 8px;
					    	}
					    }
					}
					button{
						color: #c19b76;
					    margin-bottom: 10px;
					    background: none;
					    font-size: 14px;
					    font-weight: 600;
					    border: 2px solid #c19b76;
					    width: 60%;
					    padding: 8px 0;
					}
				}
				&:hover{
					transform: translateY(-0.625em);
					.over{
						opacity: 1;
					}
				}
			}
		}
		.all-hotel{
			margin:50px 0;
			a{
				color: #c19b76;
			    
			    background: $c3;
			    font-size: 14px;
			    font-weight: 600;
			    border: 2px solid $c15;
			    padding: 10px 40px;
			}
		}
	}
}