#section4{
	font-family: $f4;
	// background-image:url('../../images/nau.jpg');
	.body{
		.title{
			margin-bottom: 60px;
		}
		.tabs{
			margin-bottom: 50px;
			.nav {
				display: block;
				text-align: center;
				margin-bottom: 50px;
				.nav-item{
					display: inline-block;
					.nav-link{
						font-size: 18px;
						font-weight: 500;
						display: block;
						padding:5px 20px;
						&.active{
							background:$c10;	
							color:$c3;
						}
					}
				}
			}
			.tab-content{
				.items{
					.smooth{
						display: block;
						margin-bottom: 30px;
						border:1px solid $c13;
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	#section4{
		.body{
			.tabs{
				.nav{
					.nav-item{
						display: block;
						.nav-link{
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}