#section7{
	background-image:url("../../images/nau.jpg");
	
	.body{
		.item{
			margin-bottom: 50px;
			h2{
				font-size: 20px;
				margin-bottom: 20px;
			}
			p{
				font-size: 15px;
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 768px) {
	
}