#section6{
	font-family: $f4;
	background-image:url('../../images/num.jpg');
	height:50vh;
	background-repeat:no-repeat;
	width: 100%;
	display: block;
	background-position:center;
	background-size: cover;
	.body{
		position:relative;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: center;
		// align-items: center;
		.items{
			.item{
				text-align:center;
				
				.img{
					text-align: center;
					margin-top: 20px;
					img{
						display: inline-block;
					}
				}
				p{
					font-size: 30px;
					color: $c3;
					font-weight: 600;
					letter-spacing: 2px;
					&.num{
						font-size: 50px;
						border-bottom:2px solid $c13;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}