#side-menu{
	position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition:all .4s ease-in-out;
    z-index: 5;
    bottom: 0;
	.body{
		height: 100%;
		.c-menu{
			width:40px;
			height:40px;
			background-color: $c3;
			
			position:relative;
			.fa{
				font-size: 30px;
				position:absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-weight: 100;
			}
		}
		.list{
			width: 250px;
			padding-top: 8px;
			background: $c3;
			height: 100%;
			.logo{
				text-align: center;
				margin-bottom: 20px;
				img{
					display: inline-block;
				}
			}
			ul{
				li{
					a{
						display: block;
					    border-top: .1px solid $c13;
					    border-bottom: .1px solid $c13;
					    font-weight:600;
					    padding: 12px 0;
					    padding-left: 50px;
					}
					
				}
			}
		}
	}
	&.active{
		right:0;
	}
}