#tours{
	.body{
		.top{
			border-bottom:1px solid $c11;
			margin-bottom: 50px;
			padding-bottom: 50px;
			justify-content: space-between;
			.cate{
				span{

					display: inline-block;
					margin:0 10px;
					&:nth-child(1){
						font-size: 18px;
						color:$c11;
						font-weight:600;
					}
					input{
						vertical-align: middle;
						background: transparent;
						margin-right: 5px;
						border-radius:50%;
						width: 16px;
						height: 16px;
					}
					label{
						font-size: 14px;
					}
				}
			}
			.searc{
				button{
					background:$c11;
					border:0;
					color:$c3;
					font-weight:600;
					width:200px;
					padding: 15px 0;
					transition: all .4s ease-in-out;
					&:hover{
						opacity: .7;
					}
				}
			}
		}
		.list{
			.item{
				margin-bottom: 30px;
				box-shadow:0 0 15px rgba(24,24,24,.15);
				transition: all .4s ease-in-out;
				cursor: pointer;
				.img{
					position: relative;
					img{
						border-radius:10px 10px 0 0;
					}
					.over{
						opacity: 0;
						transition: all .4s ease-in-out;
					}
				}
				.detail{
					padding:20px;
					h4{
						font-size: 22px;
						font-weight:600;
					}
					p{
						font-size: 14px;
						text-align: justify;
						color:$c12;
						border-bottom:1px solid $c13;
						margin-bottom: 15px;
						padding-bottom:15px;
						&:last-child{
							border-bottom:0;
							padding-bottom:0;
							margin-bottom: 30px;
						}
						.icon{
							display: inline-block;
							margin-right:8px;
							color:$c11;
						}
					}
				}
				&:hover{
					transform: translateY(-.625em);
					.img{
						.over{
							opacity: 1;
						}
					}
				}
			}
		}
		.l-more{
			border-bottom:1px solid $c13;
			padding-bottom:80px;
			margin: 30px 0;
			a{
				background:$c11;
				font-weight:600;
				padding:15px 50px;
				color:$c3;
				display: inline-block;
				transition: all .4s ease-in-out;
				&:hover{
					opacity: .7;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#tours{
		.body{
			.top{
				flex-direction: column;
				.cate{
					margin-bottom: 30px;
				}
				.searc{
					text-align: center;
				}
			}
		}
	}
}