#t-detail{
	.body{
		

		.title{
			font-family: $f3;
			font-size: 60px;
			margin-bottom: 20px;

		}
		.cap{
			font-size: 20px;
			width: 85%;
			margin:0 auto;
			margin-bottom: 50px;
			padding-bottom: 100px;
			border-bottom:1px solid $c13;
		}
		.nav{
			border:0;
			margin-bottom: 60px;
			text-align: center;
			display: block;
			.nav-link{
				font-size: 20px;
				border:0;
				font-weight:600;
				padding:0;
				margin: 0 15px;
				display: inline-block;
				margin-bottom: 15px;
				&.active{
					border-bottom:2px solid $c13;
				}
			}
		}
		p{
			line-height: 30px;
			margin-bottom: 50px;
			font-family: $f3;
			font-size: 18px;
			&.share{
				text-align: right;
				border-bottom:1px solid $c13;
				padding-bottom:100px;
				margin: 100px 0 80px 0;
				span{
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
		h4{
			font-size: 30px;
			font-weight:700;
		}
		.book {
			a{
				font-size:20px;
				font-weight:600;
				display: inline-block;
				background:$c15;
				color:$c3;
				padding:15px 50px;
				transition: all .4s ease-in-out;
				&:hover{
					opacity: .7;
				}

			}
		}
		.tab-pane{
			&#nav-gallery{
				.img{
					margin-bottom: 30px;
					position: relative;
					cursor: pointer;
					img{
						width:100%;
					}
					.over{
						opacity: 0;
					}
					&:hover{
						.over{
							opacity: 1;
						}
					}
				}
			}
			&#nav-tour{
				.item{
					margin-bottom: 30px;
				    transition: all .4s ease-in-out;
				    cursor: pointer;
				    box-shadow: 0 0 15px rgba(24, 24, 24, 0.15);
				    .img{
				    	position: relative;
				    	img{
				    		border-radius: 10px 10px 0 0;
				    		width:100%;
				    	}
				    	.over{
				    		opacity: 0;
				    	}
				    }
				    .detail{
				    	padding: 20px;
				    	h4{
				    		font-size: 22px;
    						font-weight: 600;
				    	}
				    	p{
				    		font-size: 14px;
						    text-align: justify;
						    color: grey;
						    margin-bottom: 15px;
						    padding-bottom: 15px;
						    &.cost{
						    	border-bottom: 1px solid #e7e7e7;
						    }
						    .icon{
						    	display: inline-block;
							    margin-right: 8px;
							    color: #e4ad29;
							    
						    }
				    	}
				    	button{
				    		color: #c19b76;
						    margin-bottom: 10px;
						    background: none;
						    font-size: 14px;
						    font-weight: 600;
						    border: 2px solid #c19b76;
						    width: 60%;
						    padding: 8px 0;
				    	}
				    }
				    &:hover{
				    	transform: translateY(-0.625em);
				    	.img{
				    		.over{
				    			opacity: 1;
				    		}
				    	}
				    }
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	#t-detail{
		.body{
			.title{
				font-size: 40px;
			}
			.cap{
				width:100%;
			}
		}
	}
}
@media (max-width: 320px) {
	#t-detail{
		.body{
			.title{
				font-size: 30px;
			}
			.cap{
				font-size: 18px;
			}
			
		}
	}
}