.relative{position: relative;}
.static{position: static;}
.absolute{position: absolute;}

.clearfix{
	&:before, &:after{
		content: '';
		display: block;
		clear: both;
	}
}
.bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
p{
	margin:0;
}
.fr{
	display: flex;
	flex-direction: row;
}
.fc{
	display: flex;
	flex-direction: column;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/webfonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/webfonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/webfonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/webfonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
}
@media (min-width: 768px) {
	.col-md-f20{
		flex: 0 0 20%;
	    max-width: 20%;
	    padding: 0 5px;
	}
}