$f1: 'Roboto', sans-serif;
$f2:'Dancing Script', cursive;
$f3:'EB Garamond', serif;
$f4: 'Barlow', sans-serif;;

$c-facebook: #3b5998; 
$c-google: #d62d20;
$c-twitter: #00b2ff;
$c-youtube: #de0000;
$c-linkedin: #0077b5;
$c-instagram: #c1558b;
$c-pinterest: #bd081c;


$c1:#d9d9d9;
$c2:#000000;
$c3:#ffffff;
$c4:#00000042;
$c5:#f0cd64;
$c6:#fff4bc;
$c7:#6f6f6f;
$c8:#e0e0e0;
$c9:#a28700;
$c10:#bfa004;
$c11:#1976bc;
$c12:grey;
$c13:#e7e7e7;
$c14:#e4ad29;
$c15:#c19b76;
$c16:#b5b5b5;
$c17:#1c1c1d;
$c18:#70AE3C;
$c19:#d4d4d4;
$c20:#00000052;
@mixin setLine($val) {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
}